@import "mixin";
@import "color";
@import "const";

.two  {
  width: 379px;
  border-radius: 2px;
  border: $solid1 $grayish;
  margin-left: 150px;
  margin-top: 50px;

  &__visibility{
    height: 0;
    opacity: 0;
    transition: height 500ms 100ms, opacity 0.8s linear;
    &_open {
      height: 100%;
      visibility: visible;
      opacity: 1;
      transition: height 0ms 0ms, opacity 100ms 0ms;
    }
  }

  &__header{
    width: 379px;
    height: 40px;
    background-color: $grayish;
    @include flexrowcenter;
  }
  &__menu {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/two-menu.svg);
    margin-left: 15px;
  }
  &__title {
    @include tahomanormal;
    @include f14;
    color: $white;
    margin-left: 8px;
  }
  &__option {
    background-image: url(../../assets/two-option.svg);
    width: 24px;
    height: 24px;
    margin-left: 231px;
  }
  &__table {
    @include flexrowcenter;
    @include tahomanormal;
    @include f12;
    color: $lam;
    background: #1C1F2B;
    &-param {
      margin-left: 20px;
    }
    &-fact {
      margin-left: 170px;
    }
    &-model {
      margin-left: 30px;
    }
  }
  &__elements {
    width: 379px;
    height: 422px;
    align-items: center;
    overflow: auto;
    overflow-x:hidden;
    &-margin:last-child {
      @include m0a;
    }
  }
  &__element {
    width: 353px;
    height: 30px;
    background-color: $grayish;
    margin-top: 10px;
    margin-left: 9px;
    margin-right: 0;
    border-left: 2px solid $deepblue;
    @include flexrowsbcenter;
    &_position {
      display: flex;
    }
    &-cross {
      width: 16px;
      height: 15px;
      background-image: url(../../assets/cross.svg);
      margin-left: 10px;
      margin-right: 9px;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(-45deg);
      &:hover{
        @include pointer;
        transform: rotate(90deg);
      }
    }
    &-title {
      @include tahomanormal;
      color: $barv;
      @include f12;
    }
    &-error {
      @include tahomanormal;
      @include f12;
      color: $lam;
      margin-right: 17px;
    }
  }
}
.items {
  width: 379px;
  @include m0a;
}

.item {
  width: 336px;
  height: 30px;
  margin-top: 5px;
  margin-left: 26px;
  border-left: 2px solid $deepblue;
  border-right: 1px solid $grayish;
  border-top: 1px solid $grayish;
  border-bottom: 1px solid $grayish;
  @include tahomanormal;
  @include f12;
  color: $lam;
  @include flexrowsbcenter;
  background: $grayish;
  @include pointer;
  &:first-child {
    margin-top: 10px;
  }
  &_blue {
    border-left: 2px solid $azure;
    border-right: 1px solid $azure;
    border-top: 1px solid $azure;
    border-bottom: 1px solid $azure;
  }
  &_orange {
    border-left: 2px solid $yellow;
    border-right: 1px solid $yellow;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
  }
  &__title {
    width: 130px;
  }
  &__name {
    @include flexrowsbcenter;
    width: 188px;
    margin-left: 8px;
    padding-right: 2px;
    border-right: 1px solid #1C1F2B;
    height: 32px;
  }
  &__current{
    width: 68px;
    text-align: center;
    border-right: 1px solid #1C1F2B;
    height: 32px;
    @include m0a;
    line-height: 32px;
  }
  &__target {
    width: 68px;
    text-align: center;

  }
}


::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:5px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color:transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color:$deepblue;
}

::-webkit-scrollbar-thumb:hover{
  background-color:$grayish;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:4px;
  height:0;
}

::-webkit-scrollbar{
  width: 5px;
}
