<div class="two">
  <div class="two__header">
    <div class="two__menu"></div>
    <p class="two__title">Показатели</p>
    <div class="two__option"></div>
  </div>
  <div class="two__table">
    <p class="two__table-param">Параметры</p>
    <p class="two__table-fact">Факт</p>
    <p class="two__table-model">Модель</p>
  </div>
  <div class="two__elements">
    <div>
      <div class="two__element">
        <div class="two__element-cross"></div>
        <div class="two__element-title">Сырьё</div>
        <div class="two__element-error">Отключений: <span class="two__element-error-counter">0</span></div>
      </div>
      <app-item></app-item>
    </div>
    <div>
      <div class="two__element">
        <div class="two__element-cross"></div>
        <div class="two__element-title">Сырьё</div>
        <div class="two__element-error">Отключений <span class="two__element-error-counter">0</span></div>
      </div>
      <app-item></app-item>
    </div>
  </div>

</div>
