<div class="two">
  <div class="two__header">
    <div class="two__menu"></div>
    <p class="two__title">Показатели</p>
    <div class="two__option"></div>
  </div>
  <div class="two__table">
    <p class="two__table-param">Параметры</p>
    <p class="two__table-fact">Факт</p>
    <p class="two__table-model">Модель</p>
  </div>
  <div class="two__elements">
    <div *ngFor="let data of dataService.data" class="two__elements-margin" >
      <div class="two__element">
        <div class="two__element_position">
          <div (click)="changeVisibility(data.id)" class="two__element-cross"></div>
          <div class="two__element-title">{{data.name}}</div>
        </div>
        <div class="two__element-error">Отключений: <span class="two__element-error-counter">{{data.disc}}</span></div>
      </div>
      <div [ngClass]="{
      'two__visibility_open': data.visibility === true,
      'two__visibility': data.visibility === false
      }">
        <div class="items">
          <div (click)="changeStatus(data.id, item.id)" *ngFor="let item of data.item; let i = number"
               [ngClass]="{
      '': item.status === 'normal',
      'item_blue': item.active === true,
      'item_orange': item.status === 'danger'
      }"

               class="item">
            <div class="item__name">
              <p class="item__title">
                {{item.name}}
              </p>
              <p class="item__units">
                Ед.изм.
              </p>
            </div>

            <p class="item__current">
              {{item.current}}
            </p>
            <p class="item__target">
              {{item.target}}
            </p>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
