<div class="logo-back"></div>
<div class="login">
  <div class="login__block">
    <div class="login__image"></div>
    <div class="login__line"></div>
    <div class="login__title">Цифровая
      <div class="login__subtitle">индустриальная экосистема</div>
    </div>
  </div>
  <form class="login__fields">
    <div class="login__field">
      <div class="login__image-login"></div>
      <input class="login__input" placeholder="Логин" type="text">
      <span class="login__focus"></span>
    </div>
    <div class="login__field">
      <div class="login__image-password"></div>
      <input class="login__input login__input_password" placeholder="Пароль" type="text">
      <button class="login__image-password_eye"></button>
      <span class="login__focus"></span>
    </div>
  </form>
  <button class="login__button" type="submit">
    Войти
  </button>
</div>
