@import "mixin";
@import "color";
@import "const";

.task {
  width:800px;
  height: 400px;
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  &__circle{
    width: 335px;
    height: 360px;
    background-image: url(../../assets/circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 50px;
    position: relative;
    &-progress {
      position: absolute;
      top: 8.5%;
      left: 5.5%;
    }
  }
  &__progress {
    margin-left: 18px;
    margin-top: 30px;
  }
  &__data{
    color: white;
    position: absolute;
    z-index: 2;
    left: 32%;
    top: 21%;
    @include tahomanormal;
    @include flexcentercolumn;
    &-title{
      @include f24;
      color: $deepblue;
      margin-bottom: 19px;
    }
    &-name {
      @include f24;
      color: $barv;
      margin-bottom: 15px;
    }
    &-current {
      @include f29;
      color: $barv;
      margin-bottom: 3px;
    }
    &-target {
      @include f29;
      color: $azure;
      margin-bottom: 8px;
    }
    &-diff {
      @include f29;
      color: $yellow;
    }
  }
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 150px;
  @include tahomanormal;
  color: $barv;
  &_ml {
    margin-left: 220px;
  }
}
